
.ui-button {
border-radius: 0px;
background: #d7ebf9;
width: 250px;
}

.ui-inputfield {
border-radius: 0px;
width: 240px;
font-size: 14px;
padding: 7px 4px !important;
}
.divCuadro{
    background: #f4f4f4;
    padding: 0px 5px 0px 5px;
    padding-bottom: 20px;
    margin: 15px auto 0px;
}

.divLogin table{
    margin-left: 10px;
}

.divTabla{
    font-family: lucida Sans;
    font-size: 12px;
}
.ui-panelgrid-header td {
    color: #444;
    background: #deedf7;
    padding: 8px;
    font-size: 13px;
}
.ui-panelgrid-cell {
    background-color: #FFFFFF;
}

.ui-datatable thead th {
    color: #444;
    background: #deedf7;
    padding: 8px;
    font-size: 13px;
    border-radius: 0px;
}

 .divTabla .ui-datatable .ui-paginator{
    background: #deedf7;
    padding: 10px 0px !important;
    border-radius: 0px;
}

.ui-paginator .ui-paginator-page {
    background: #2090e7;
    padding: 4px 10px !important;
    border-radius: 0px;
}

.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options {
    border-radius: 7px;
    padding: 4px 2px !important;
    border-radius: 0px;
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev {
    padding: 4px 6px !important;
    border-radius: 0px;
}

.ui-datatable .ui-datatable-header {
    padding: 15px 0px !important;
}

.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield {
    margin-left: 10px;
}

.ui-datatable .ui-column-filter {
    width: 92% !important;
}
